<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>character-01</key>
		<dict>
			<key>x</key>
			<real>400</real>
			<key>y</key>
			<real>32</real>
			<key>width</key>
			<real>30</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>30</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>character-02</key>
		<dict>
			<key>x</key>
			<real>366</real>
			<key>y</key>
			<real>34</real>
			<key>width</key>
			<real>30</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>30</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>defeat</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>207</real>
			<key>width</key>
			<real>432</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>432</real>
			<key>originalHeight</key>
			<real>89</real>
		</dict>
		
		<key>enemy-01</key>
		<dict>
			<key>x</key>
			<real>432</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>30</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>30</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>enemy-02</key>
		<dict>
			<key>x</key>
			<real>400</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>30</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>30</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>enemy-eye</key>
		<dict>
			<key>x</key>
			<real>206</real>
			<key>y</key>
			<real>192</real>
			<key>width</key>
			<real>9</real>
			<key>height</key>
			<real>9</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>9</real>
			<key>originalHeight</key>
			<real>9</real>
		</dict>
		
		<key>food</key>
		<dict>
			<key>x</key>
			<real>432</real>
			<key>y</key>
			<real>32</real>
			<key>width</key>
			<real>25</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>25</real>
			<key>originalHeight</key>
			<real>22</real>
		</dict>
		
		<key>hand</key>
		<dict>
			<key>x</key>
			<real>206</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>158</real>
			<key>height</key>
			<real>190</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>158</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>icon</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>204</real>
			<key>height</key>
			<real>205</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>204</real>
			<key>originalHeight</key>
			<real>205</real>
		</dict>
		
		<key>stone</key>
		<dict>
			<key>x</key>
			<real>366</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>victory</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>298</real>
			<key>width</key>
			<real>408</real>
			<key>height</key>
			<real>87</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<real>408</real>
			<key>originalHeight</key>
			<real>87</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>